@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7EEEE42;
  --foreground: #000000;
  --button-background: #F5F7EE; /* 搜索框背景色 */
  --button-hover-background: #AABB99; 
  --button-green-background:#45624E;
  --card: #f8f9fa;
  --card-foreground: #212529;
  --popover: #e9ecef;
  --popover-foreground: #343a40;
  --primary: #45624E;         /* 浅色模式的主色 */
  --primary-foreground: #ffffff;
  --secondary: #4ade80;       /* 浅色模式的次色 */
  --secondary-foreground: #000000;
  --muted: #f3f4f6;
  --muted-foreground: #6b7280;
  --accent: #ec4899;
  --accent-foreground: #ffffff;
  --destructive: #e11d48;
  --destructive-foreground: #ffffff;
  --border: #e5e7eb;
  --input: #f9fafb;
  --ring: #3b82f6;
  --radius: 0.5rem;
  --footer-logo-url: url('/icons/sampolaLogoGreen-textblack.svg'); /* Default light mode logo */
}

.dark {
  --footer-logo-url: url('/icons/sampolaLogoGreen-textwhite.svg'); /* Dark mode logo */
  --background: #181818;
  --foreground: #f5f5f5;
  --button-background: #C0CFB2; /* 搜索框背景色 */
  --button-hover-background: #969286; /* 搜索框背景色 */
  --button-green-background:#242423;
  --card: #1c1c1c;
  --card-foreground: #f5f5f5;
  --popover: #2e2e2e;
  --popover-foreground: #e5e7eb;
  --primary: #242423;         /* 深色模式的主色 */
  --primary-foreground: #ffffff;
  --secondary: #34d399;       /* 深色模式的次色 */
  --secondary-foreground: #ffffff;
  --muted: #374151;
  --muted-foreground: #d1d5db;
  --accent: #f472b6;
  --accent-foreground: #ffffff;
  --destructive: #b91c1c;
  --destructive-foreground: #ffffff;
  --border: #374151;
  --input: #1f2937;
  --ring: #60a5fa;
}


body {
  @apply bg-background text-foreground;
  font-family: var(--font-Lato-Regular);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 菜单和子菜单样式 */
.menu-item {
  position: relative;
}

.menu-item > a {
  padding: 10px;
  color: #C0CFB2;
  text-decoration: none;
  transition: color 0.3s;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #45624E;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.submenu li a {
  display: block;
  padding: 8px;
  color: #C0CFB2;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
}

.submenu li a:hover {
  color: #151515;
  background-color: white;
}

.menu-item:hover .submenu {
  display: block;
}

/* 全局字体大小设置 */
:root {
  --font-size: 100%;
}

body {
  font-size: var(--font-size);
}

.text-xs {
  font-size: calc(var(--font-size) * 0.75) ;
}

.text-sm {
  font-size: calc(var(--font-size) * 0.875) ;
}

.text-base {
  font-size: var(--font-size) ;
}

.text-lg {
  font-size: calc(var(--font-size) * 1.125) ;
  line-height: calc(var(--font-size) * 1.75) ;
}

/* 其他字体大小类 */
.text-xl {
  font-size: calc(var(--font-size) * 1.25) ;
}

.text-2xl {
  font-size: calc(var(--font-size) * 1.5) ;
}

.text-3xl {
  font-size: calc(var(--font-size) * 1.875) ;
}

.text-4xl {
  font-size: calc(var(--font-size) * 2.25) ;
}

.text-5xl {
  font-size: calc(var(--font-size) * 3) ;
}

.text-6xl {
  font-size: calc(var(--font-size) * 3.75) ;
}

.text-7xl {
  font-size: calc(var(--font-size) * 4.5) ;
}

.text-8xl {
  font-size: calc(var(--font-size) * 6) ;
}

.text-9xl {
  font-size: calc(var(--font-size) * 8) ;
}


@layer base {
  :root {
    @apply transition-colors duration-300 ease-in-out;
  }

  .dark {
    @apply transition-colors duration-300 ease-in-out;
  }
}