@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.menu-item {
  position: relative;
}

.menu-item > a {
  padding: 10px;
  color: #C0CFB2;
  text-decoration: none;
  transition: color 0.3s;
}

.submenu {
  display: none; /* 默认隐藏 */
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #45624E;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10; /* 确保子菜单在顶层显示 */
}

.submenu li a {
  display: block;
  padding: 8px;
  color: #C0CFB2;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
}

.submenu li a:hover {
  color: #151515;
  background-color: white;
}

.menu-item:hover .submenu {
  display: block; /* 鼠标悬停时显示子菜单 */
}
